# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Environment variables
.env

# Testing / cache
.pytest_cache/
.coverage
htmlcov/

# Operating system artifacts
.DS_Store
Thumbs.db
*.exe
powershell.exe
